{% extends "auctions/layout.html" %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Create new Auction</h1>
	</div>
	<br>
	<br>
	<div class="container">
		<form action="{% url 'create_auction' %}" method="POST">
			{% csrf_token %}
			<input class="form-control" type="text" name="title" placeholder="Title" required>
			<br>
			<input class="form-control" type="text" name="description" placeholder="description" required>
			<br>
			<input class="form-control" type="text" name="category" placeholder="category" >
			<br>
			<input class="form-control" type="number" name="bid" placeholder="Initial Bid" required>
			<br>
			<input type="url" name="image" placeholder="Url´s image">
			<br>
			<br>
			<input class="btn btn-primary" type="submit" value="Create">
		</form>
	</div>
{% endblock %}