{% extends "encyclopedia/layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="border border-secondary" style="padding: 20px ;">
    {% ifequal wikiInfo None %}
    <p>The wiki {{title}} does not exists</p>
    {% else %}
    {{wikiInfo}}
    {% endifequal %}
  </div>
  <div class="fixed-buttom" style="margin: 20px;">
    <form action="{% url 'encyclopedia:editPage' title %}" method="GET">
      <input type="submit" class="btn btn-dark" value="Edit Page">
    </form>
  </div>
</div>
{% endblock %}